<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ci.mapper.UsersMapper">
	<!-- 根据用户名密码查询用户信息 -->
	<select id="selectUser" resultType="Users">
		select * from users where uname=#{uname} and upwd=#{upwd}
	</select>
	<!-- 添加用户信息 -->
	<insert id="insertUser" parameterType="Users">
		insert into users values(default,#{uname},#{upwd},#{uportrait},default)
	</insert>
	<!-- 修改指定用户状态（启用或停用） -->
	<update id="updateUserStatus">
		update users set ustatus=#{ustatus} where uid=#{uid}
	</update>
	<!-- 修改指定用户信息 -->
	<update id="updateUser" parameterType="Users">
		update users set uname=#{uname},upwd=#{upwd},uportrait=#{uportrait} where uid=#{uid}
	</update>
	<!-- 删除指定用户信息 -->
	<delete id="deleteUser" parameterType="int">
		delete from users where uid=#{uid}
	</delete>
	<!-- 根据条件查询所有用户的总数量 -->
	<select id="selectUsersCount" parameterType="string" resultType="int">
		<bind name="uname" value="'%'+uname+'%'"/>
		select count(1) from users where uname like #{uname}
	</select>
	<!-- 查询指定用户信息 -->
	<select id="selectUserById" parameterType="int" resultType="Users">
		select * from users where uid=#{uid}
	</select>
	<!-- 根据条件查询所有用户信息 -->
	<select id="selectUsersPage" resultType="Users">
		<bind name="uname" value="'%'+uname+'%'"/>
		select * from users where uname like #{uname} limit #{pageNo},#{pageSize}
	</select>
</mapper>